#path-province-TH-10 { fill: #E20000; }
#path-province-TH-11 { fill: #FDEBEB; }
#path-province-TH-12 { fill: #FDEBEB; }
#path-province-TH-13 { fill: #FDEBEB; }
#path-province-TH-14 { fill: #FDEBEB; }
#path-province-TH-15 { fill: #FDEBEB; }
#path-province-TH-16 { fill: #FDEBEB; }
#path-province-TH-17 { fill: #FDEBEB; }
#path-province-TH-18 { fill: #FDEBEB; }
#path-province-TH-19 { fill: #FDEBEB; }
#path-province-TH-20 { fill: #FDEBEB; }
#path-province-TH-21 { fill: #FDEBEB; }
#path-province-TH-22 { fill: #FDEBEB; }
#path-province-TH-23 { fill: #FDEBEB; }
#path-province-TH-24 { fill: #FDEBEB; }
#path-province-TH-25 { fill: #FDEBEB; }
#path-province-TH-26 { fill: #FDEBEB; }
#path-province-TH-27 { fill: #FDEBEB; }
#path-province-TH-28 { fill: #FDEBEB; }
#path-province-TH-29 { fill: #FDEBEB; }
#path-province-TH-30 { fill: #FDEBEB; }
#path-province-TH-31 { fill: #FDEBEB; }
#path-province-TH-32 { fill: #FDEBEB; }
#path-province-TH-33 { fill: #FDEBEB; }
#path-province-TH-34 { fill: #FDEBEB; }
#path-province-TH-35 { fill: #FDEBEB; }
#path-province-TH-36 { fill: #FDEBEB; }
#path-province-TH-37 { fill: #FDEBEB; }
#path-province-TH-38 { fill: #FDEBEB; }
#path-province-TH-39 { fill: #FDEBEB; }
#path-province-TH-40 { fill: #FDEBEB; }
#path-province-TH-41 { fill: #FDEBEB; }
#path-province-TH-42 { fill: #FDEBEB; }
#path-province-TH-43 { fill: #FDEBEB; }
#path-province-TH-44 { fill: #FDEBEB; }
#path-province-TH-45 { fill: #FDEBEB; }
#path-province-TH-46 { fill: #FDEBEB; }
#path-province-TH-47 { fill: #FDEBEB; }
#path-province-TH-48 { fill: #FDEBEB; }
#path-province-TH-49 { fill: #FDEBEB; }
#path-province-TH-50 { fill: #FDEBEB; }
#path-province-TH-51 { fill: #FDEBEB; }
#path-province-TH-52 { fill: #FDEBEB; }
#path-province-TH-53 { fill: #FDEBEB; }
#path-province-TH-54 { fill: #FDEBEB; }
#path-province-TH-55 { fill: #FDEBEB; }
#path-province-TH-56 { fill: #FDEBEB; }
#path-province-TH-57 { fill: #FDEBEB; }
#path-province-TH-58 { fill: #FDEBEB; }
#path-province-TH-59 { fill: #FDEBEB; }
#path-province-TH-60 { fill: #FDEBEB; }
#path-province-TH-61 { fill: #FDEBEB; }
#path-province-TH-62 { fill: #FDEBEB; }
#path-province-TH-63 { fill: #FDEBEB; }
#path-province-TH-64 { fill: #FDEBEB; }
#path-province-TH-65 { fill: #FDEBEB; }
#path-province-TH-66 { fill: #FDEBEB; }
#path-province-TH-67 { fill: #FDEBEB; }
#path-province-TH-68 { fill: #FDEBEB; }
#path-province-TH-69 { fill: #FDEBEB; }
#path-province-TH-70 { fill: #FDEBEB; }
#path-province-TH-71 { fill: #FDEBEB; }
#path-province-TH-72 { fill: #FDEBEB; }
#path-province-TH-73 { fill: #FDEBEB; }
#path-province-TH-74 { fill: #FDEBEB; }
#path-province-TH-75 { fill: #FDEBEB; }
#path-province-TH-76 { fill: #FDEBEB; }
#path-province-TH-77 { fill: #FDEBEB; }
#path-province-TH-78 { fill: #FDEBEB; }
#path-province-TH-79 { fill: #FDEBEB; }
#path-province-TH-80 { fill: #FDEBEB; }
#path-province-TH-81 { fill: #FDEBEB; }
#path-province-TH-82 { fill: #FDEBEB; }
#path-province-TH-83 { fill: #FDEBEB; }
#path-province-TH-84 { fill: #FDEBEB; }
#path-province-TH-85 { fill: #FDEBEB; }
#path-province-TH-86 { fill: #FDEBEB; }
#path-province-TH-87 { fill: #FDEBEB; }
#path-province-TH-88 { fill: #FDEBEB; }
#path-province-TH-89 { fill: #FDEBEB; }
#path-province-TH-90 { fill: #FDEBEB; }
#path-province-TH-91 { fill: #FDEBEB; }
#path-province-TH-92 { fill: #FDEBEB; }
#path-province-TH-93 { fill: #FDEBEB; }
#path-province-TH-94 { fill: #FDEBEB; }
#path-province-TH-95 { fill: #FDEBEB; }
#path-province-TH-96 { fill: #FDEBEB; }
